body{
    background-color: #393E46;
}
.container{
    width: 70%;
    margin: auto;
    text-align: center;
}
.dice{
    text-align: center;
    display: inline-block;
}
h1{
    margin: 30px;
    font-size: 8rem;
    font-family: 'Lobster', cursive;
    color: #4ECCA3;
    text-shadow: 5px 0 #232931;
}
p{
    color: #4ECCA3;
    font-size: 2rem;
    font-family: "Indie Flower", cursive;
}
img{
    width: 80%;
}
footer{
    /* width: 70%; */
    margin-top: 5%;
    text-align: center;
    color: #EEEEEE;
    font-family: "Indie Flower", cursive;
}